@charset "UTF-8";

@import "honoka/variables";
@import "eli/variables";
@import "eli/mixins";

header {
	padding: $padding-base-vertical 0;
	background: #fff;
}

.title {
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}

.special {
	position: relative;
	max-height: 640px;
	overflow: hidden;
	background-image: url("/assets/img/bg.png");
	background-size: 2253px 640px;
	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: "";
		background-image: url("/assets/img/keepout.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.special-text {
		position: relative;
		display: block;
		max-width: 100%;
		max-height: 640px;
		margin: 0 auto;
	}
}

.social {
	padding: $padding-large-vertical 0;
	background: $gray-lighter;
}

.social-button {
	position: relative;
	padding: $padding-large-vertical 0;
	margin: 0 auto !important;
	overflow: hidden;
	> ul {
		position: relative;
		left: 50%;
		float: left;
		padding: 0;
		margin: 0;
		list-style: outside none none;
		> li {
			position: relative;
			left: -50%;
			float: left;
			padding: 0;
			margin: 0 10px;
			.fb-like {
				> span {
					vertical-align: 0 !important;
				}
			}
		}
	}
	.twitter-share-list {
		position: relative;
		display: inline-block;
		height: 20px;
		padding: 0 5px;
		margin: 0 0 0 5px;
		font-family: Arial;
		font-size: 11px;
		line-height: 18px;
		vertical-align: top;
		background: #fff;
		border: 1px solid #9197a3;
		border-radius: 3px;
		&::before,
		&::after {
			position: absolute;
			top: 0;
			bottom: 0;
			display: block;
			width: 0;
			height: 0;
			margin: auto;
			content: "";
			border-color: transparent;
			border-style: solid;
		}
		&::before {
			left: -5px;
			border-width: 5px 5px 5px 0;
			border-right-color: #9197a3;
		}
		&::after {
			left: -3px;
			border-width: 3px 3px 3px 0;
			border-right-color: #fff;
		}
		&:link,
		&:visited,
		&:hover,
		&:active,
		&:focus {
			color: #555;
			text-decoration: none;
		}
	}
}

.section {
	padding-top: $line-height-computed * 4;
	padding-bottom: $line-height-computed * 4;
	&.section-bg {
		background: #f9f9f9;
	}
	.heading {
		margin-bottom: $line-height-computed;
		text-align: center;
	}
}

.introduction {
	.profile {
		margin-bottom: $line-height-computed;
		h3 {
			margin-top: $line-height-computed / 2;
		}
		.avatar {
			width: 100%;
			max-width: 150px;
		}
	}
}

.plot {
	.icon {
		width: 50px;
	}
}

.checkpoints {
	dl {
		margin-bottom: $line-height-computed / 2;
		dt {
			margin-bottom: $line-height-computed / 3;
			font-size: $font-size-h4;
		}
	}
}

.result {
	color: #fff;
	text-shadow: 0 5px 5px rgba(#000, 0.5);
	background-image: url("/assets/img/curtain.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.title {
		width: 580px;
		&::after {
			border-color: #fff;
		}
	}
	.heading-result {
		font-size: 2.5em;
		@include md {
			font-size: 3em;
			text-indent: 0.3em;
			letter-spacing: 0.3em;
		}
	}
}

.award {
	margin-top: $line-height-computed;
	margin-bottom: $line-height-computed;
	.award-img {
		margin-bottom: $line-height-computed;
		text-align: center;
		img {
			max-width: 150px;
			margin: 0 auto;
		}
	}
	.award-title {
		text-align: center;
		a {
			display: inline-block;
			margin-bottom: $line-height-computed;
			font-size: $font-size-h2;
			font-weight: bold;
			&:link, &:visited {
				color: #fff;
			}
			&:hover, &:active, &:focus {
				color: #eee;
			}
		}
	}
	&.award-1st {
		.award-img img {
			max-width: 200px;
		}
		.award-title a {
			font-size: $font-size-h1;
		}
	}
}

.screenshot {
	position: relative;
	overflow: hidden;
	.screenshot-link {
		display: block;
		color: $text-color;
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
		@include md {
			&::after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 200px;
				height: $line-height-computed * 3;
				padding: $line-height-computed $padding-base-horizontal;
				margin: auto;
				line-height: $line-height-computed;
				color: #fff;
				text-align: center;
				content: "ウェブサイトを見る";
				background: rgba(#000, 0.8);
				border-radius: $border-radius-base;
			}
		}
	}
	.screenshot-img {
		display: block;
		max-width: 100%;
	}
	.screenshot-title {
		padding: $line-height-computed 0;
		margin: 0;
		text-align: center;
		@include md {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: ($line-height-computed * 2) ($padding-large-horizontal * 2) ($line-height-computed * 2) ($padding-large-horizontal * 2 + 150px);
			font-size: $font-size-h1;
			color: #fff;
			text-align: left;
			text-shadow: 0 2px $gray-dark;
			letter-spacing: 0.2em;
			background: rgba(#000, 0.6);
			transition-timing-function: ease;
			transition-duration: 0.3s;
			transition-property: opacity;
			&::after {
				display: block;
				padding-top: $line-height-computed / 3;
				margin-top: $line-height-computed / 3;
				font-size: $font-size-base;
				font-weight: normal;
				letter-spacing: normal;
				content: attr(data-en);
				border-top: 1px dotted #fff;
			}
		}
	}
}

.rank {
	&::before {
		display: block;
		width: 150px;
		height: 150px;
		margin: auto;
		content: "";
		background-repeat: no-repeat;
		background-size: contain;
		@include md {
			position: absolute;
			bottom: $padding-base-vertical;
			left: $padding-base-horizontal * 2;
		}
	}
	&.rank-1st::before {
		background-image: url("/assets/img/award/1st.png");
	}
	&.rank-2nd::before {
		background-image: url("/assets/img/award/2nd.png");
	}
	&.rank-3rd::before {
		background-image: url("/assets/img/award/3rd.png");
	}
}

.license {
	padding-top: $padding-base-vertical;
	font-size: $font-size-small;
	color: $gray;
	text-align: right;
}

.evaluation {
	margin-top: $line-height-computed;
	.evaluation-text {
		text-align: justify;
	}
	.visit {
		margin-top: $line-height-computed;
		margin-bottom: $line-height-computed;
	}
	.evaluation-title {
		padding: 0 0 $padding-large-vertical;
		margin-top: 0;
		margin-bottom: $line-height-computed;
		border-bottom: 1px dashed $gray;
	}
	.evaluation-point-table {
		th, td {
			vertical-align: middle;
		}
		td {
			text-align: right;
		}
		.fa[class*="fa-star"] {
			color: $brand-warning;
		}
		.point-total {
			font-size: $font-size-large;
			&::after {
				font-size: $font-size-small;
				content: "pt";
			}
		}
	}
	.author {
		text-align: right;
	}
	.icon {
		width: $line-height-computed;
		vertical-align: top;
	}
}

footer {
	padding: ($line-height-computed * 2) 0;
	background: $gray-lighter;
	.copyright {
		margin-top: $line-height-computed / 2;
		margin-bottom: $line-height-computed / 2;
		text-align: center;
	}
	.creative-commons {
		margin-top: $line-height-computed / 2;
		font-size: $font-size-small;
		text-align: center;
	}
}

.return-pagetop-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: none;
	width: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	background: rgba(#000, 0.5);
	&:hover, &:active, &:focus {
		color: #fff;
		background: rgba(#000, 0.3);
	}
}

@import "animation";
