@charset "UTF-8";

@import "honoka/variables";
@import "eli/variables";

header {
	padding: $padding-base-vertical 0;
	background: #fff;
}

.title {
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	&::after {
		display: block;
		padding: $padding-base-vertical 0;
		font-size: $font-size-large;
		text-align: center;
		content: attr(data-section);
		border-top: 2px solid #000;
	}
}

.special {
	position: relative;
	max-height: 640px;
	overflow: hidden;
	background-image: url("/assets/img/bg.png");
	background-size: 2253px 640px;
	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: "";
		background-image: url("/assets/img/keepout.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.special-text {
		position: relative;
		display: block;
		max-width: 100%;
		max-height: 640px;
		margin: 0 auto;
	}
}

.social {
	padding: $padding-large-vertical 0;
	background: $gray-lighter;
}

.social-button {
	position: relative;
	padding: $padding-large-vertical 0;
	margin: 0 auto !important;
	overflow: hidden;
	> ul {
		position: relative;
		left: 50%;
		float: left;
		padding: 0;
		margin: 0;
		list-style: outside none none;
		> li {
			position: relative;
			left: -50%;
			float: left;
			padding: 0;
			margin: 0 10px;
			.fb-like {
				> span {
					vertical-align: 0 !important;
				}
			}
		}
	}
}

.section {
	padding-top: $line-height-computed * 4;
	padding-bottom: $line-height-computed * 4;
	&.section-bg {
		background: #f9f9f9;
	}
	.heading {
		margin-bottom: $line-height-computed;
		text-align: center;
	}
}

.introduction {
	.profile {
		margin-bottom: $line-height-computed;
		h3 {
			margin-top: $line-height-computed / 2;
		}
		.avatar {
			width: 100%;
			max-width: 150px;
		}
		.accounts {
			.fa.fa-lg {
				vertical-align: 0;
			}
		}
	}
	.icon {
		width: 50px;
	}
}

.checkpoints {
	dl {
		margin-bottom: $line-height-computed / 2;
		dt {
			margin-bottom: $line-height-computed / 3;
			font-size: $font-size-h4;
		}
	}
}

.heading-result {
	font-size: $font-size-h1;
	letter-spacing: 0.4em;
}

.award {
	margin-top: $line-height-computed;
	margin-bottom: $line-height-computed;
	.award-img {
		margin-bottom: $line-height-computed;
		text-align: center;
		img {
			max-width: 200px;
			margin: 0 auto;
		}
	}
	.award-title {
		text-align: center;
		a {
			display: inline-block;
			margin-bottom: $line-height-computed;
			font-size: $font-size-h2;
		}
	}
}

.screenshot {
	position: relative;
	overflow: hidden;
	.screenshot-link {
		display: block;
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 200px;
			height: $line-height-computed * 3;
			padding: $line-height-computed $padding-base-horizontal;
			margin: auto;
			line-height: $line-height-computed;
			color: #fff;
			text-align: center;
			content: "ウェブサイトを見る";
			background: rgba(#000, 0.8);
			border-radius: $border-radius-base;
		}
	}
	.screenshot-img {
		display: block;
		max-width: 100%;
	}
	.screenshot-title {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: ($line-height-computed * 2) ($padding-large-horizontal * 2) ($line-height-computed * 2) ($padding-large-horizontal * 2 + 150px);
		margin: 0;
		font-size: $font-size-h1;
		color: #fff;
		text-shadow: 0 2px $gray-dark;
		letter-spacing: 0.2em;
		background: rgba(#000, 0.6);
		transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-property: opacity;
		&::after {
			display: block;
			padding-top: $line-height-computed / 3;
			margin-top: $line-height-computed / 3;
			font-size: $font-size-base;
			font-weight: normal;
			letter-spacing: normal;
			content: attr(data-en);
			border-top: 1px dotted #fff;
		}
	}
}

.rank {
	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: $padding-large-horizontal;
		display: block;
		width: 150px;
		height: 150px;
		margin: auto;
		content: "";
		background-repeat: no-repeat;
		background-size: contain;
	}
	&.rank-1st::before {
		background-image: url("/assets/img/award/1st.png");
	}
	&.rank-2nd::before {
		background-image: url("/assets/img/award/2nd.png");
	}
	&.rank-3rd::before {
		background-image: url("/assets/img/award/3rd.png");
	}
}

.evaluation {
	margin-top: $line-height-computed * 2;
	.evaluation-text {
		text-align: justify;
	}
	.visit {
		margin-top: $line-height-computed;
	}
	.evaluation-title {
		padding: 0 0 $padding-large-vertical;
		margin-top: 0;
		margin-bottom: $line-height-computed;
		border-bottom: 1px dashed $gray;
	}
	.evaluation-point-table {
		th, td {
			vertical-align: middle;
		}
		td {
			text-align: right;
		}
		.fa[class*="fa-star"] {
			color: $brand-warning;
		}
		.point-total {
			font-size: $font-size-large;
			&::after {
				font-size: $font-size-small;
				content: "pt";
			}
		}
	}
	.author {
		text-align: right;
	}
	.icon {
		width: $line-height-computed;
		vertical-align: top;
	}
}

footer {
	padding: ($line-height-computed * 2) 0;
	background: $gray-lighter;
	.creative-commons {
		text-align: right;
	}
}

.return-pagetop-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: none;
	width: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	background: rgba(#000, 0.5);
	&:hover, &:active, &:focus {
		color: #fff;
		background: rgba(#000, 0.3);
	}
}

@import "animation";
